@model IEnumerable<string>

@foreach (var item in Model)
{
<a class="btn btn-block btn-outline-secondary"
   asp-action="Index" asp-controller="Home"
   asp-route-category="@item"
   asp-route-productPage="1">
    @item
</a>
}
